{% extends 'grillz/base.html' %}
{%load static %}

{% block title %}Home - The Grills{% endblock %}

{% block content %}

<!-- Menu Section -->
<section class="section menu" id="menu">
	<div class="menu-container container">
		<div class="meu-text">
			<h2 class="section-title">Our Popular Menu</h2>
			<p class="section-description"> Our place designed by pro architecture with psychologist to build best place suit you.  Our place designed by pro architecture with psychologist to build best place suit you.</p>
		</div>
		<div class="menu-content">
			<div class="menu-items">
				<div class="menu-item flex">
					<img src="{% static 'grillz/grills/alt2home.jpeg' %}" alt="" class="menu-img">

					<div class="menuItem-details">
						<h4 class="menuItem-topic">Americano Roasted Coffee</h4>
						<p class="menuItem-des">It is a long established fact that a reader will be distracted by the readable.</p>
					</div>
					<div class="menuItem-price flex">
						<h3>₦<span class="discount-price">18.99</span></h3>
						<span class="real-price">₦20.66</span>
					</div>
					<button class="add-to-cart" data-name="Americano Roasted Coffee" data-price="18.99">Add to Cart</button>
				</div>
				<div class="menu-item flex">
					<img src="{% static 'grillz/grills/alt2home.jpeg' %}" alt="" class="menu-img">
					<div class="menuItem-details">
						<h4 class="menuItem-topic">Americano Roasted Coffee</h4>
						<p class="menuItem-des">It is a long established fact that a reader will be distracted by the readable.</p>
					</div>
					<div class="menuItem-price flex">
						<h3>₦<span class="discount-price">18.99</span></h3>
						<span class="real-price">₦20.66</span>
					</div>
					<button class="add-to-cart" data-name="Americano Roasted Coffee" data-price="18.99">Add to cart</button>
				</div>
				<div class="menu-item flex">
					<img src="{% static 'grillz/grills/alt2home.jpeg' %}" alt="" class="menu-img">
					<div class="menuItem-details">
						<h4 class="menuItem-topic">Grilled Catfish</h4>
						<p class="menuItem-des">It is a long established fact that a reader will be distracted by the readable.</p>
					</div>
					<div class="menuItem-price flex">
						<h3>₦<span class="discount-price">18.99</span></h3>
						<span class="real-price">₦20.66</span>
					</div>
					<button class="add-to-cart" data-name="Americano Roasted Coffee" data-price="18.99">Add to Cart</button>
				</div>
				<div class="menu-item flex">
					<img src= "{% static 'grillz/grills/alt2home.jpeg' %}" alt="" class="menu-img">

					<div class="menuItem-details">
						<h4 class="menuItem-topic">Chicken Periperi</h4>
						<p class="menuItem-des">It is a long established fact that a reader will be distracted by the readable.</p>
					</div>

					<div class="menuItem-price flex">
						<h3>₦<span class="discount-price">18.99</span></h3>
						<span class="real-price">₦20.66</span>
					</div>
					<button class="add-to-cart" data-name="Americano Roasted Coffee" data-price="18.99">Add to Cart</button>
				</div>

			</div>

			<div class="time-table">
				<span class="time-topic">Catogries Time</span>
				
				<ul class="time-lists">
					<li class="time-list flex">
						<span class="open-day"> Sunday</span>
						<span class="open-time">Closed</span>
					</li>
					<li class="time-list flex">
						<span class="open-day"> Monday</span>
						<span class="open-time">7.00am-3.00pm</spam>
					</li>
					<li class="time-list flex">
						<span class="open-day"> Tuesday</span>
						<span class="open-time">7.00am - 3.00pm</span>
					</li>
					<li class="time-list flex">
						<span class="open-day"> Wednesday</span>
						<span class="open-time">7.00am - 3.00pm</span>
					</li>
					<li class="time-list flex">
						<span class="open-day"> Thursday</span>
						<span class="open-time">7.00am - 3.00pm</span>
					</li>
					<li class="time-list flex">
						<span class="open-day"> Friday</span>
						<span class="open-time">7.00am - 3.00pm</span>
					</li>
					<li class="time-list flex">
						<span class="open-day"> Saturday</span>
						<span class="open-time">9.00am - 2.00pm</soan>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

{% endblock %}
