{% extends 'grillz/base.html' %}
{%load static %}

{% block title %}Shop - The Grills{% endblock %}

{% block content %}
<!-- Shop Section -->
<section class="review" id="shop">
	<div class="review-container container">
		<div class= "review-text">
			<div class="product container">
				<h2 class="section-title">Welcome to Our Shop<br>Our Products</h2>
				<div class="product-list">
					{% for product in products %}
					<div class="product-item">
						<img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-img">
						<h3 class="product-name">{{ product.name }}</h3>
						<p class="product-price">₦{{ product.price }}</p>
						<button class="button add-to-cart" data-id="{{ product.id }}">Add to Cart</button>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
